<div id="page_wrapper">

    <div id ="profile_image">
    <!-- post picture here
        <= image_tag "img.jpeg" %>
    -->
    </div>

    <div id="content">
        <h1>About Me</h1>
        <p> Hi, I'm James Nguyen. Born in Ottawa, grew up in Windsor Ontario. I'm a former member of the Canadian Armed Forces. My military occupation was a <a href="http://www.forces.ca/en/job/maritimesurfaceandsubsurfaceofficer-65" target="_blank">MARS Officer</a> in the Navy. Currently working towards my undergrad in Computer Science at the University of Windsor. I am currently working at Progressive Software International. I love working with new technology.</p>   

        <p>This is my blog where I'll post random computer science stuff, thoughts, and maybe blog about whatever side project I'm working on.</p> 

        <p> My area of interest in computer science leans towards Algorithms and Data Structures, Web Development, Scalability/Optimizations and Machine Learning. A few things that I've been interested in lately:</p>
        <ul>
            <li>Implementing a highly optimized search algorithm</li>
            <li>Porting classic board games onto the web/mobile devices</li>
            <li>Writing minimalistic code with low overhead for classic data structures in java</li>
        </ul>
    </div><!--//content-->
</div><!--//section-inner--> 
